<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" ng-href="#!/">conduit</a>

    <!-- Show this for logged out users -->
    <ul ng-if="!isAuthenticated" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" ng-href="#!/" ng-class="{ active: isActive('/') }">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ng-href="#!/login" ng-class="{ active: isActive('/login') }">Sign in</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ng-href="#!/register" ng-class="{ active: isActive('/register') }">Sign up</a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul ng-if="isAuthenticated" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" ng-href="#!/" ng-class="{ active: isActive('/') }">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ng-href="#!/editor" ng-class="{ active: isActive('/editor') }">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ng-href="#!/settings" ng-class="{ active: isActive('/settings') }">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item" ng-if="currentUser">
        <a class="nav-link" ng-href="#!/profile/{{ currentUser.username }}">
          <img ng-if="currentUser.image" ng-src="{{ currentUser.image }}" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
