<div class="home-page">
  <div class="banner" ng-if="!isAuthenticated">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>AngularJS</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" ng-if="isAuthenticated">
              <a class="nav-link" ng-class="{ active: listConfig.type === 'feed' }" ng-click="setListTo('feed')">
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                ng-class="{ active: listConfig.type === 'all' && !listConfig.filters.tag }"
                ng-click="setListTo('all')"
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" ng-if="listConfig.filters.tag">
              <a class="nav-link active"> <i class="ion-pound"></i> {{ listConfig.filters.tag }} </a>
            </li>
          </ul>
        </div>

        <!-- Article List -->
        <div class="article-preview" ng-if="!articlesLoaded">Loading articles...</div>

        <div ng-if="articlesLoaded">
          <div ng-if="articles.length === 0" class="article-preview">No articles are here... yet.</div>

          <app-article-preview
            ng-repeat="article in articles track by article.slug"
            article="article"
          ></app-article-preview>

          <nav>
            <ul class="pagination">
              <li
                ng-repeat="pageNumber in totalPages track by $index"
                class="page-item"
                ng-class="{ active: pageNumber === currentPage }"
              >
                <button class="page-link" ng-click="setPageTo(pageNumber)">
                  {{ pageNumber }}
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a
              ng-repeat="tag in tags track by $index"
              class="tag-default tag-pill"
              ng-click="setListTo('all', { tag: tag })"
            >
              {{ tag }}
            </a>
          </div>

          <div ng-if="!tagsLoaded">Loading tags...</div>

          <div ng-if="tagsLoaded && tags.length === 0">No tags are here... yet.</div>
        </div>
      </div>
    </div>
  </div>
</div>
